{%extends 'base.html'%}

{% block title %} Report Card {% endblock %}

{% block body %}
<div class="container mt-4 shadow-lg">
    <div>
        <h2>{{date_of_generation}}</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center">Student Report Card</h2>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h4>Student Information</h4>
                    {% for i in mystudent %}
                    <p><strong>Name:</strong>&nbsp;&nbsp;  {{i.student_name | safe}}</p>
                    <p><strong>Email Address:</strong>&nbsp;&nbsp;  {{i.student_email}}</p>
                    <p><strong>Registration Number:</strong>&nbsp;&nbsp;  {{i.student_id.student_id}}</p>
                    <p><strong>Age:</strong>&nbsp;&nbsp;  {{i.student_age}}</p>
                    <p><strong>Department:</strong>&nbsp;&nbsp;  {{i.department.department_name}}</p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <h4>Subjects</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Marks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in studentmarks %}
                            <tr>
                                <td>{{s.subject.subject_name}}</td>
                                <td>{{s.marks}}</td>
                            </tr>
                            {% endfor %}
                            <!-- <tr>
                                <td>Physics</td>
                                <td>85</td>
                            </tr>
                            <tr>
                                <td>Chemistry</td>
                                <td>92</td>
                            </tr> -->
                            <!-- Add more subjects and marks here -->
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <p><strong>Position:</strong> {{rank}}</p>
                <p><strong>Total Marks:</strong> {{obtainedmarks}}</p>
                <p><strong>Percentage:</strong> {{percentage}}</p>
                <p><strong>Grade:</strong> {{grade}}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}